.forecast {
  display: flex;
  margin-bottom: 8rem;
  justify-content: space-between;
}

.card {
  &-main {
    color: $color-grey-dark;
    background-color: $color-primary;
    border-radius: 12px;
    overflow: hidden;

    & > div {
      padding: 1rem;
    }

    &__details {
      color: #758694;
      font-size: 0.95rem;

      p:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &-main__img {
    height: 6rem;
    width: 6rem;
  }

  &-main__temperature {
    font-family: 'Sour Gummy';
    font-size: 3.5rem;
    font-weight: 600;
    color: $color-grey-dark;
  }

  &__date {
    font-family: 'Sour Gummy';
    background-color: #aec9dd;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 3rem;
  }

  &-sub {
    flex: 0 0 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: $color-grey;
    border-radius: 24px;
    text-align: center;
    aspect-ratio: 0.6;

    svg {
      fill: #eee;
    }

    & > p {
      padding: 1.2rem;
    }

    &__date {
      font-size: 1.4rem;
      letter-spacing: 1.2px;
      width: 100%;
      border-bottom: 1px solid rgba($color: #eee, $alpha: 0.1);
      font-weight: 600;
      color: #ddd;
      margin-bottom: 2rem;
    }
  }
}

.overview__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 2rem 2rem;
  background-color: $color-grey;
  min-width: 21rem;
  aspect-ratio: 1;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #9ca3af;
}

.overview__img {
  height: 8rem;
  width: 8rem;
}
